.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .page-numbers {
      width: 70px;
      display: flex;
      justify-content: center;
      gap: 5px;
    }
  }