@use "../../index.scss" as *;

.contact-section {
  scroll-margin-top: 80px;
  display: flex;
  background-color: #ffffff;
  height: calc(100vh - 80px);
  justify-content: center;
  padding:2rem 0;
  align-items: center;

  .wrapper {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    .left {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      span {
        font-size: 40px;
        font-weight: bold;
        @include mobile {
          font-size: 30px;
          text-align: center;
        }
      }
      .contact_img {
        width: 600px;
        img {
          width: 100%;
        }
        @include mobile {
          width: 400px;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      overflow: hidden;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;

      .contact_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        .form_item {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          input,
          textarea {
            transition: all 0.5s ease;
          }

          .phoneInput {
            border-radius: 5px;
            transition: all 0.5s ease;
            input {
              width: 100%;
              border: 1px solid gainsboro;
              border-radius: 0px 5px 5px 0px;
            }
            input,
            button {
              padding: 5px 10px;
              height: 47px;
            }
            button {
              border: none;
              border: 1px solid gainsboro;
            }
          }

          .phone-invalid {
            input,
            button {
              border: 1px solid #e11d48;
            }
          }

          .name,
          .email {
            border-radius: 5px;
            padding:10px;
            height: 47px;
            outline: transparent;
            caret-color: #22a2f2;
            appearance: none;
            border: 1px solid gainsboro;
          }

          textarea {
            padding: 5px 10px;
            outline: none;
            resize: none;
            border-radius: 5px;
            border: 1px solid gainsboro;
          }
        @include mobile{
          width: 80%;
        }
        }
        .message-button {
          border: 1px solid transparent;
          width: 200px;
          height: 47px;
          margin-right: 2px;
          margin-top: 10px;
          color: #222;
          text-align: center;
          font-size: 14px;
          cursor: pointer;
          font-weight: 600;
          flex-shrink: 0;
          position: relative;
          background-color: transparent;
          border-radius: 50px;

          &::before {
            content: "";
            border: 1px solid #f24b0f;
            height: 47px;
            width: 25px;
            border-radius: 50px;
            top: -2px;
            left: -2px;
            position: absolute;
            transition: all 0.3s ease-in-out;
          }

          &:hover::before {
            width: 200px;
          }

          &:active::before {
            scale: 0.875;
          }
          &:active {
            scale: 0.975;
          }
          @include tablet {
            margin-bottom: 4px;
            border: 1px solid #f24b0f;
            &::before {
              display: none;
            }
          }

          @include mobile {
            width: 80%;
          }
        }
        @include tablet {
          align-items: center;
        }
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }
  @include mobile {
    max-height: fit-content;
    height: auto;
    padding-bottom: 2rem;
  }
}
