@use "../../../index.scss" as *;
.admin_vehicle {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .filters {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .filter {
      display: flex;
      gap: 10px;
    }
  }
  .avehicle_container {
    width: 100%;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 500px;
    background-color: #f9f9f9;
  }
  .vehicle_item {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .avehicle_img {
      width: 200px;
      height: 150px;
      overflow: hidden;
      // background-color: red;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .specs {
      display: flex;
      gap: 5px;
      width: 70%;
      align-items: center;
      justify-content: center;
      .spec {
        width: 50px;
        // background-color: red;
      }
    }
    .options {
      display: flex;
      gap: 10px;
    }
  }
  .admin_vehicles_modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    margin-inline: auto;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal_container {
      background-color: $primary-bg-color;
      width: 300px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
      align-items: center;
      position: relative;

      .title {
        height: 50px;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        h2 {
          position: relative;
        }

        svg {
          cursor: pointer;
          stroke: 2;
        }
      }
      .vehicle_form {
        background-color: #f2f2f2;
        border-radius: 30px 30px 0 0;
        padding: 1rem;
        width: 100%;
        transition: all 0.3s ease-in-out;
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 15px;
        img {
          object-fit: cover;
          height: 150px;
          object-position: top;
          border-radius: 10px;
        }
        input {
          width: 100%;
          height: 47px;
          outline: none;
          background-color: transparent;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid gainsboro;
        }
        .upload {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 150px;
          // padding: 10px;
          gap: 10px;
          border-radius: 10px;
          border: 1px dashed $primary-bg-color;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          .foto {
            height: 100%;
            width: 100%;
            img {
              height: 100%;
              object-fit: cover;
              width: 100%;
            }
            button {
              position: absolute;
              top: 10px;
              cursor: pointer;
              display: flex;
              margin: auto;
              justify-content: center;
              align-items: center;
              right: 10px;
              background: rgba(128, 128, 128);
              backdrop-filter: blur(12px);
              color: white;
              font-weight: bold;
              border: none;
              border-radius: 50%;
              height: 20px;
              width: 20px;
            }
          }
          .img_input {
            display: none;
          }
          svg {
            width: 25px;
            height: 25px;
            stroke-width: 2;
          }
          span {
            font-size: 18px;
          }
          &:hover {
            border-color: #f24b0f;
          }
          &:active {
            transform: scale(0.98);
            background-color: $primary-bg-color;
            color: white;
          }
        }
      }
    }
  }
}
