@use "../../index.scss" as *;
.booking {
  background: $primary-bg-color;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  align-items: center;
  overflow: hidden;

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    gap: 20px;
    .steps {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      .step {
        width: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 56px;
        height: 39px;
        flex-shrink: 0;
      }
      .step.done {
        background-color: #62abd9;
      }
      .steps-progress {
        height: 6px;
        width: 300px;
        overflow: hidden;
        border-radius: 30px;
        background-color: #f0f0f0;
        .progress {
          transition: all 0.3 ease-in-out;
          height: 100%;
          width: 40%;
          border-radius: 30px;
        }
      }
    }
    .booking-container {
      background-color: #f2f2f2;
      width: 100%;
      margin-top:10px;
      padding: 2rem;
      height: 600px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .left {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        .booking-form {
          padding: 0 2rem;
          display: flex;
          width: 80%;
          gap: 3px;
          flex-direction: column;
          label {
            margin: 20px 0 5px 0;
          }
          input {
            border-radius: 10px;
            padding: 5px 10px;
            border: 1px solid rgba(51, 55, 64, 0.3);
            background: #f2f2f2;
            height: 35px;
            outline: transparent;
            appearance: none;
          }
          select {
            border-radius: 10px;
            padding: 15px 10px;
            border: 1px solid rgba(51, 55, 64, 0.3);
            background: #f2f2f2;
            height: 47px;
            appearance: none;
          }

          .more-info {
            display: flex;
            align-items: center;
            overflow: hidden;
            width: 100%;
            .passengerNo,
            .baggageNo {
              width: 50%;
              display: flex;
              flex-direction: column;
            }
            .passengerNo {
              input {
                border-radius: 10px 0 0 10px;
              }
            }
            .baggageNo {
              input {
                border-radius: 0 10px 10px 0;
              }
            }
          }
        }
      }
      .right {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .map {
          height: calc(100% - 105px);
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          .map_container {
            height: 100%;
            width: 100%;
          }
          .location-info {
            display: flex;
            width: 100%;
            div {
              padding: 12px;
            }
            .distance {
              width: 50%;
              display: flex;
              flex-direction: column;
              border-radius: 0px 0px 0px 10px;
              border: 1px solid rgba(0, 0, 0, 0.3);
              background: #f2f2f2;
            }
            .time {
              width: 50%;
              display: flex;
              flex-direction: column;
              border-radius: 0px 0px 10px 0px;
              border: 1px solid rgba(51, 55, 64, 0.3);
              background: #f2f2f2;
            }
          }
          button {
            border: none;
            width: 200px;
            height: 48px;
            align-self: flex-end;
            margin-top: 10px;
            color: #fff;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            font-weight: 700;
            flex-shrink: 0;
            border-radius: 10px;
            background: #f24b0f;
          }
        }
      }
    }
  }
}
