@use "../../index.scss" as *;
.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $primary-bg-color;
  height: 80px;
  overflow: hidden;
  .wrapper {
    padding: 0 20px;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1450px) {
      max-width: 1200px;
    }
    .logo {
      height: 80%;
      img {
        height: 100%;
      }
    }

    .links {
      .link-list {
        display: flex;
        align-items: center;
        gap: 15px;
        list-style-type: none;
        li {
          font-size: 14px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-style: normal;
          font-weight: 600;
          max-width: fit-content;
          line-height: normal;
          a {
            text-decoration: none;
            color: inherit;
            width: 100%;
          }
          select {
            padding: 5px;
            border: none;
            width: 72px;
            border-radius: 5px;
            background: #f2f2f2;
          }
        }
      }
      .mobile-menu {
        display: none;
        button {
          background-color: transparent;
          border: none;
          color: white;
          svg {
            stroke-width: 2;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .nav {
    .wrapper {
      .links {
        .link-list {
          display: none;
        }
        .mobile-menu {
          display: block;
        }
      }
    }
  }
}
